<div class="panel panel-default devise-bs main-block">
  <div class="panel-heading text-center">
    <h4>Tournaments</h4>
  </div>
  <div class="panel-body">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Name</th>
          <th>Status</th>
          <th colspan="3" class="col-md-3">
            <%= link_to 'New Tournament', new_tournament_path %>
          </th>
        </tr>
      </thead>
      <tbody>
        <% @tournaments.each do |tournament| %>
          <tr>
            <td><%= tournament.name %></td>
            <td><%= tournament.status.humanize.capitalize %></td>
            <td><%= link_to 'Show', tournament %></td>
            <td><%= link_to 'Edit', edit_tournament_path(tournament) %></td>
            <td><%= link_to 'Destroy', tournament, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
