<div id="navbar" class="navbar-collapse collapse">
  <ul class="nav navbar-nav">
    <li class="<%= active_menu('home')%>">
      <%= link_to "Home", root_path %>
    </li>
    <li class="<%= active_menu('tournaments')%>">
      <%= link_to "Tournaments", tournaments_path %>
    </li>
    <li class="<%= active_menu('teams')%>">
      <%= link_to "Teams", teams_path %>
    </li>
  </ul>
  <%= render "layouts/devise_navigation" %>
</div>
